*{
    padding: 0;
    margin: 0;box-sizing: border-box;
}

body , html{
    height: 100%;
    width: 100%;
}

html{
    font-family: monospace ;
}

:root{
    --x : 400px;
    --y : 200px;

}
#page1{
    height: 100vh;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/34902261/pexels-photo-34902261.jpeg');
    background-position: center;
    background-size : cover ;   

}

 #page1 div {
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y) ,rgba(255, 255, 255, 0.114), rgba(32, 32, 32, 0.806));
}


#page2{
    height: 100vh;
    width: 100%;
    background: #111 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px ;
    position: relative;
}

#page2 h1{
    color: rgb(0, 237, 0);
    font-size: 2rem;
    font-weight: 600;
   
}

#page2 h3{
    color: rgb(237, 36, 0);
     font-weight: 400;
     font-size: 1.5rem;
}


#page2 p{
    color: rgb(0, 237, 0);
    font-size: 1.2rem;
  
    
}

#page2 div{
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(170px at var(--x) var(--y),rgba(14, 219, 72, 0.196) , rgb(24, 24, 24));
    pointer-events: none;
 
}