*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html , body{
    height: 100%;
    width: 100%;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: linear-gradient( to left top , rgb(211, 255, 235) , rgb(239, 211, 255) , white);
}

button{
    border: none;
    cursor: pointer;
}

.profiles{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

.profile{
    padding: 0.5rem;
    text-align: center;
    border: 2px solid #edeced;
    border-radius: 0.2rem;
    box-shadow: 2px 6px 10px rgb(232, 205, 232);
    max-width: 200px;
    
}
.profile h3{
    margin-bottom: 1rem;
}

.profile div{
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.profile button{
    padding: 2px 6px;
    background: rgb(250, 209, 241);
}



form{
    padding: 1rem ;
    background: #f3bbfd60;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

}

input , .createbtn{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(153, 1, 199);
    color: rgb(39, 36, 38);
    font-weight: 600;
    
}
.createbtn:hover{
    background: rgb(188, 11, 242);
    color: white;
}