body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#feed{
    height: 100vh;
    width: 100%;
    box-sizing: border-box ;
    background: #111;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

#allReels{
    width: 300px;
    min-height: 100vh;
    border: 1px solid #dadada ;
    border-radius: 0.5rem;
    
}

.reel{
    height: 100vh;
    width: 100%;
    background: crimson;
    position: relative;

}   
.reel .bottom{
    background: linear-gradient(transparent , rgba(0, 0, 0, 0.301));
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    position: absolute;
    /* width: 100%; */
    bottom: 0 ;
    border: 1px solid blue;
}

.reel .bottom div{
    display: flex;
    gap: 6px;
}
  
.reel button{
    background: transparent;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.733);
    border-radius: 1px ; 
    font-size: 0.7rem;   
}
.reel .bottom img{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;

}

.reel .right{
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* border: 1px solid black; */
    position: absolute;
    bottom: 80px;
    right: 0;
    padding: 8px;
    text-align: center;


}
.reel .right i{
    display: block;
}
.reel .right span{
    font-size: 0.7rem;
}
