.navbar{
    background: #462727;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding:  1rem;

    input{
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
    }

    div{
        display: flex;
        gap: 1.5rem;     
    }

    a {
    color: rgb(241, 241, 241);
    text-decoration: none;
    font-size: 1.1rem;
    
  }
    
}
